@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
 
    --main-font: "Roboto Mono", sans-serif;
    --bg-color: #484d58;
    --card-bg-color: #1f222a;
    --off-white: #dde2ec;

}

body {

    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: var(--off-white);
    font-size: 10px;
    text-align: center;

}