@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {

    --main-font: "Roboto Mono", sans-serif;
    --bg-color: #383e4a;
    --card-bg-color: #1f222a;
    --off-white: #dde2ec;
    --orange: #f0a133;
    --blue: #4d79e9;
    --green:#33d646;
    --rounded: 8px;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

body {

    background-color: var(--bg-color);
    font-size: 25px;
    font-family: var(--main-font);
    color: var(--off-white);
    font-weight: lighter;
    text-align: center;

}

h1,
h2 {
    padding: 0px;
    margin: 0px;
}